.body{
  width: 100%;
}
.row{
  margin: 0;
}
.main-naslov {
  margin: 0;
  width: 100%;
  padding: 1em 0;
  color: #117a8b!important;
  font-family: 'Open Sans', sans-serif;
}
.profil-forma{
  width: 100%;
  margin: 0;
}

@media (min-width: 768px){
  .content{
    padding-right: 30px;
  }
}

.profil-form-group{
  margin: 0;
  width: 100%;
  padding: 2%;
  margin-bottom:  0;
}
.form-group{
  width: 100%;
  padding: 2%;
  color: #343a40;
  padding-bottom: 0;
  margin-bottom:  0.1rem!important;
    font-size: 1.4em;
}
.span{
  padding: 2%;
}

.separator{
  margin-top: 0;
  padding:0;
  height: 1px;
	border-color: #73A2A6!important;
}
